:root {
    --tan: #fcd39b;
    --dark_brown: #322621;

    --light: var(--tan);
    --dark: var(--dark_brown);

    --shadow: rgb(0 0 0 / 50%);
    --highlight: rgb(255 255 255 / 30%);
}
/*
themes
*/
.light-theme {
    --bg: var(--light);
    --fontColor: var(--dark);
    --btnBg: var(--dark);
    --btnFontColor: var(--light);
    --highlight: rgb(255 255 255 / 30%);
}
  
.dark-theme {
    --bg: var(--dark);
    --fontColor: var(--light);
    --btnBg: var(--light);
    --btnFontColor: var(--dark);
    --highlight: rgb(255 255 255 / 5%);
}
/*
components
*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background: var(--bg);
    color: var(--fontColor);
    font-family: "Lucida Console", "Courier New", monospace;
    justify-content: center;
}

#wrapper {
    align-self: center;
    display: grid;
    grid-template-areas:
        'one'
        'two';
    width: 600px;
    padding: 10px;
    background-color: var(--highlight);
    border-radius: 20px;
    box-shadow: -5px 5px 0px var(--shadow);
}

p {
    font-size: x-large;
}

li {
    font-size: large;
    list-style: none;
    min-width: 400px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
#header {
    display: grid;
    grid-template-areas:
        'one two'
        'three three';
    align-items: baseline;
    justify-content: space-between;
}
.themeBtn {
    height: fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 25%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
/*
draggables
*/
.over {
    background-color: var(--shadow);
    opacity: .5 ;
}

.hidden {
    display: none;
}